* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(25, 0, 90);
    font-family: 'Trebuchet MS';
}

hr {
    margin: 40px 80px 30px 80px;
}



/*Navigation Bar*/
div.nav {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.nav a.logo {
    font-size: 115%;
}

div.nav a {
    color: white;
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 18px 20px;
    float: left;
    display: block;
}

div.nav a:hover {
    color: rgb(200, 200, 200);
}
div.nav a.logo {
    color: white;
}



/* Responsive Layout: Navigation Bar */
@media (max-width: 400px) {
    div.nav a, .footer a {
        width: 100%;
        float: none;
        font-size: 0.6rem
    }
}

@media (max-width: 700px) {
    .nav a, .footer a{
        font-size: 0.8rem;
    }
    .nav a.logo, .footer a.logo{
        font-size: 1rem;
    }
}



/* Main */
.main {
    padding: 40px 80px 40px 80px;
}

.title {
    font-size: 25px;
    margin-bottom: 10px;
    text-align: center;
}

.content p {
    color: rgb(200, 200, 200);
    font-size: 20px;
    margin-bottom: 20px;
}

.content li {
    color: rgb(200, 200, 200);
    font-size: 20px;
    margin: 20px;
}



/* Form */
.form {
    font-family: Arial, sans-serif;
    background-color: rgb(25, 0, 90);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.form-container {
    background-color: rgb(20, 0, 60);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
    width: 400px;
}

h1 {
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 15px;
    color: white;
    margin-bottom: 5px;

}

input[type="text"], input[type="email"], input[type="password"], textarea {
    width: 380px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.submit-btn {
    width: 100%;
    margin-top: 25px;
    padding: 10px;
    background-color: #0046de;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #0a1ea4;
}

p {
    color: white;
    margin-top: 30px;
}

a {
    color: rgb(50, 130, 255);
}



/* Footer */
.foot {
    padding: 50px 40px 40px 40px;
    text-align: center;
    background: #1f1f1f;
    margin-top: 80px;
}

.foot .logo {
    font-size: 300%;
}

.foot a {
    color: white;
    text-decoration: none;
    padding: 0 80px 0 80px;
}

.foot a {
    color: rgb(200, 200, 200);
}
.foot a:hover {
    color: rgb(155, 155, 155);
}
.foot a:active {
    color: gray;
}

.foot hr {
    margin-top: 50px;
}

.foot p {
    color: white;
    margin-top: 40px;
}
  